<header class="header">
  <a href="*" class="logo">Portfolio</a>

  <nav class="navbar">
    <a href="#"></a>
    <a href="#" style="--i:i" class="active">Home</a>
    <a href="#" style="--i:2">About</a>
    <a href="#" style="--i:3">Skills</a>
    <a href="#" style="--i:4">Portfolio</a>
    <a href="#" style="--i:5">Contact</a>

  </nav>
</header>
<section class="home">
  <div class="home-content">
    <h3>Hello, it's me</h3>
    <h1>Khalifa Tambadou</h1>
    <h3>And I'm a <span class="text"></span></h3>
    <p>I'm a web Developer with extensive experience for over 3 years.
      <br>expertise is to create a website design, Frontend design, and many more...
    </p>
    <div class="home-sci">
      <a href="#" style="--i:5"><i class='bx bxl-linkedin'></i></a>
      <a href="#" style="--i:6"><i class='bx bxl-github' ></i></a>
    </div>
    <a href="#" class="btn-box">More About Me</a>
  </div>
</section>
