<header class="header">
  <a href="*" class="logo">Portfolio</a>

  <nav class="navbar">
    <a href="#"></a>
    <a href="#">Home</a>
    <a href="#">About</a>
    <a href="#">Skills</a>
    <a href="#">Portfolio</a>
    <a href="#">Contact</a>

  </nav>
</header>
<section class="home">
  <div class="home-content">
    <h3>Hello, it's me</h3>
    <h1>Khalifa Tambadou</h1>
    <h3>And I'm a developer</h3>
    <p>I'm a web Developer with extensive experience for over 3 years.
      <br>expertise is to create a website design, Frontend design, and 
    </p>
    <div class="home-sci">
    
    </div>
  </div>
</section>
