<body>
  

<header class="header">
  <a href="*" class="logo">Portfolio.</a>

  <nav class="navbar">
    <a href="#"></a>
    <a href="#" style="--i:i" class="active">Home</a>
    <a href="#" style="--i:2">About</a>
    <a href="#" style="--i:3">Skills</a>
    <a href="#" style="--i:4">Portfolio</a>
    <a href="#" style="--i:5">Contact</a>

  </nav>
</header>
<section class="home">
  <div class="home-content">
    <h3>Hello, it's me</h3>
    <h1>Khalifa Tambadou</h1>
    <h3>And I'm a <span class="text"></span></h3>
    <p>I'm a web Developer with extensive experience for over 3 years.
      <br>expertise is to create a website design, Frontend design, and many more...
    </p>
    <div class="home-sci">
      <a href="#" style="--i:5"><i class='bx bxl-linkedin'></i></a>
      <a href="#" style="--i:6"><i class='bx bxl-github' ></i></a>
    </div>
    <a href="#" class="btn-box">More About Me</a>
  </div>
  <!-- <span class="home-imgHover">
  <img src="../assets/profile-pic.png">
  </span> -->
</section>

<section class="about" id="about">
  <div class="about-img">
    <img src="../assets/profile-pic.png">
  </div>
  <div class="about-text">
    <h2>About<span>Me</span></h2>
    <h4>Full Stack Developer!</h4>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet nostrum expedita sint ea, reprehenderit fuga dicta eligendi nobis perferendis consequuntur sapiente autem, dolore excepturi minus!</p>
    <a href="#" class="btn-box">More about me</a>
  </div>
</section>

<section>
  <div class="services" id="services">
    <div class="container">
      <h1 class="sub-title">My <span>Services</span></h1>
      
      <div class="services-list">
        <div>
          <i class="bx bx-code" style="color: #00eeff"></i>
          <h2>UI/UX Design</h2>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo odit magni voluptatum maxime quidem, sequi deserunt mollitia ratione consequatur error.</p>
          <a href="#" class="read">Learn more</a>
        </div>

         <div>
          <i class="bx bx-crop" style="color: #00eeff"></i>
          <h2>UI/UX Design</h2>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo odit magni voluptatum maxime quidem, sequi deserunt mollitia ratione consequatur error.</p>
          <a href="#" class="read">Learn more</a>
        </div>

         <div>
          <i class='bx bxl-apple' style="color: #00eeff"></i>
          <h2>UI/UX Design</h2>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo odit magni voluptatum maxime quidem, sequi deserunt mollitia ratione consequatur error.</p>
          <a href="#" class="read">Learn more</a>
        </div>

      </div>
    </div>
  </div>

</section>
<h1 class="sub-title">My <span>Skills</span></h1>

<section>
  <div class="container1" id="Skills">
    <h1 class="heading1">Technical Skills</h1>
    <div class="Technical-bar">
      <div class="bar"><i style="color: #c95d2e" class='bx bxl-html5' ></i>
        <div class="info">
          <span>HTML</span>
        <div class="progress-line html">
          <span></span>
        </div>
      </div>

      <div class="bar"><i  style="color: #147bbc" class='bx bxs-file-css' ></i>
       <div class="info">
          <span>CSS</span>
        <div class="progress-line css">
          <span></span>
        </div>
      </div>
    </div>
    
    <div class="bar"><i  style="color: #b0bc1e" class='bx bxl-javascript' ></i>
       <div class="info">
          <span>Javascript</span>
        <div class="progress-line javascript">
          <span></span>
        </div>
      </div>
    </div>

    <div class="bar"><i  style="color: #147bbc" class='bx bxl-typescript' ></i>
       <div class="info">
          <span>Typescript</span>
        <div class="progress-line typescript">
          <span></span>
        </div>
      </div>
    </div>

    <div class="bar"><i  style="color: #ff0000" class='bx bxl-angular' ></i>
      <div class="info">
          <span>Angular</span>
        <div class="progress-line angular">
          <span></span>
        </div>
      </div>
    </div>

  <div class="bar"><i  style="color: #f89820" class='bx bxl-java' ></i>
      <div class="info">
          <span>Java</span>
        <div class="progress-line java">
          <span></span>
        </div>
      </div>
    </div>

  <div class="bar"><span class="icon-badge csharp">C#</span>
      <div class="info">
          <span>C#</span>
        <div class="progress-line c#">
          <span></span>
        </div>
      </div>
    </div>

      </div>
    </div>
  </div>

  <div class="container1">
    <h1 class="heading1">Professional Skills</h1>
    <div class="radical-bars">
      <svg x="0px" y="0px" viewBox="0 0 200 200">
        <circle class="progress-bar" cx="100" cy="100" r="80"></circle>
        <circle class="path path-1" cx="100" cy="100" r="80"></circle>
      </svg>

      <div class="percentage">90%</div>
      <div class="text">Creativity</div>
    </div>

    <div class="radical-bars">
      <svg x="0px" y="0px" viewBox="0 0 200 200">
        <circle class="progress-bar" cx="100" cy="100" r="80"></circle>
        <circle class="path path-1" cx="100" cy="100" r="80"></circle>
      </svg>

      <div class="percentage">65%</div>
      <div class="text">Communication</div>
    </div>

    <div class="radical-bars">
      <svg x="0px" y="0px" viewBox="0 0 200 200">
        <circle class="progress-bar" cx="100" cy="100" r="80"></circle>
        <circle class="path path-1" cx="100" cy="100" r="80"></circle>
      </svg>

      <div class="percentage">75%</div>
      <div class="text">Problem Solving</div>
    </div>

    <div class="radical-bars">
      <svg x="0px" y="0px" viewBox="0 0 200 200">
        <circle class="progress-bar" cx="100" cy="100" r="80"></circle>
        <circle class="path path-1" cx="100" cy="100" r="80"></circle>
      </svg>

      <div class="percentage">85%</div>
      <div class="text">TeamWork</div>
    </div>
  </div>
</section>





</body>
